
  body {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.8;
    font-size: 20px;
    color: #243628;
    font-weight: 300;
    overflow-x: hidden;
    margin: 0
  }


  
  .web-title{
    color: rgb(15, 81, 224);
    text-transform: uppercase;


  }