<div *ngIf="currentUser">
  <header>
    <p> Hello, {{ currentUser.username }}. </p>
    <a [routerLink]="['/add-workout']">Add a new Workout</a>
    <br>
    <button (click)="logMeOutPls()"> Log Out </button>
    <p *ngIf="logoutError" class="error">
      {{ logoutError }}
    </p>
  </header>
</div>
  <h2>Workout Detail</h2> 
 

  <!-- <div *ngIf='workout._id'> -->
    <h3> {{ workout.typeOfExercise }}</h3>
    <p>Sets: {{ workout.sets }}</p>
    <p>Reps: {{ workout.reps }}</p>
    <p>Rest Time: {{ workout.duration }}</p>
    <div *ngFor = "let oneReview of workout.reviews">
      <a>{{ oneReview.content}}</a>
      <br>
    </div>
    <!-- <p>{{ workout.reviews}}</p> -->
    <button *ngIf="workout._id" (click)="deleteThisWorkout()">
      DELETE
    </button>

  <!-- </div> -->
  <hr>
  <!-- update workout area -->

<form (ngSubmit)="doTheUpdate(workout._id, myForm)" #myForm="ngForm" >
  
  <label for="workout-name-input"> Name: </label>
  <input id="workout-name-input" type="text"  [(ngModel)]="workout.typeOfExercise" name="workoutName" value="{{ workout.name }}">
  <br>
  <label for="workout-sets-input"> Sets: </label>
  <input id="workout-sets-input" type="text"  [(ngModel)]="workout.sets" name="workoutSets" value="{{ workout.sets }}">
  <br>
  <label for="workout-reps-input"> Reps: </label>
  <input id="workout-reps-input" type="text"  [(ngModel)]="workout.reps" name="workoutReps" value="{{ workout.reps }}">
  <br>
  <label for="workout-duration-input"> Rest: </label>
  <input id="workout-duration-input" type="duration"  [(ngModel)]="workout.duration" name="workoutduration" value="{{ workout.duration }}">
  <br>
  <button type="submit">Save updates</button>
</form>
<br>
<a [routerLink]="['/workouts']">back</a>
<hr>

<p>Add the review below:</p>
 <form (ngSubmit)="createReview(workout._id, reviewData)" >
     <label for="review-content-input"> Content </label>
     <input id="review-content-input" type="text"  [(ngModel)]="reviewData.content" name="content">
     <br>
     <button type="submit">Submit the review</button>
 </form>