<div *ngIf="currentUser">
  <header>
    <p> Hello, {{ currentUser.username }}. </p>
    <button (click)="logMeOutPls()"> Log Out </button>
    <p *ngIf="logoutError" class="error">
      {{ logoutError }}
    </p>

    <br>
    <br>
  </header>
</div>
<h2>Workout List</h2>
<a [routerLink]="['/add-workout']">Add a new Workout</a>
<br>

<div class="container">
  <div class="row">
    <div >
      <div class="card">
        <div class="card-body">
          <div class="col-6 col-md-4" *ngFor="let workout of workouts">
            <p class="card-title" id="details" [routerLink]="['/workouts', workout._id]">
              {{ workout.typeOfExercise }}- sets: {{workout.sets}}, reps: {{workout.reps}}, rest: {{workout.duration}}sec</p>
            <br>
          </div>
        </div>

      </div>

    </div>


  </div>
</div>

<!-- <div class="cards" *ngFor="let workout of workouts">
  <a class="details" [routerLink]="['/workouts', workout._id]">{{ workout.typeOfExercise }}</a>
  <br>
</div> -->
